#main-doc {
  font-family: 'Quicksand', sans-serif;
  margin-left: 10em;
}
#navbar {
  position: fixed;
  top: 5em;
  bottom: 0;
  left: 0;
  width: 10em;

}
@media only screen and (max-height: 1000px) {
  #main-doc {font-size: 15px;
  }
}
.main-section {

}
